.flis {
  font-size: 24px;
  font-weight: 800;
  width: 198px;
  text-align: center;
}

.sidebar {
  list-style: none;
  width: 210px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.close-btn {
  display: none;
}

.mobile-navbar {
  display: none !important;
}
.navlinks {
  list-style: none;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
.navlinks.active {
  color: #57007b !important; /* Purple for active link */
  font-weight: bold !important;
}
.icons {
  filter: grayscale(100%); /* Default grayscale */
  transition: filter 0.3s ease; /* Smooth transition for filter */
}

/* Change img color when the link is active */
.navlinks.active .icons {
  filter: grayscale(0%) brightness(0) invert(33%) sepia(91%) saturate(745%)
    hue-rotate(250deg) brightness(95%) contrast(86%);
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100% !important;
  }
  /* Sidebar styles for mobile */
  .sidebar {
    transform: translateX(100%); /* Hidden sidebar */
    right: 0; /* Align to the right */
    left: auto; /* Disable left positioning */
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out;
    position: fixed;
  }

  .sidebar.open {
    transform: translateX(0); /* Show sidebar when open */
    z-index: 1000;
  }

  .close-btn {
    display: block !important; /* Show only for mobile */
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    font-size: 24px !important;
    background: none !important;
    border: none !important;
    color: white !important;
    cursor: pointer !important;
  }

  /* Mobile Navbar */
  .mobile-navbar {
    display: flex !important;
    justify-content: space-between !important;
    background-color: #f9f9ff !important;
    color: black !important;
  }

  .flis {
    margin-left: -9rem;
    margin-top: 1rem;
    font-weight: 800;
    font-size: 24px;
  }

  .menu-btn {
    font-weight: 800;
    margin-left: 18rem;
    margin-top: -2.5rem;
    font-size: 22px;
    height: 55px;
    width: 70px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
  }

  .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sidebar .flis {
    display: none !important;
  }
  hr {
    display: none;
  }
}
